$maincol: #727070;
$activetextcolor: #1e7465;
$sidemargins: 120px;
$sitewidth: 1200px;
$container: 960px;

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff2') format('woff2'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/opensans-bolditalic.eot');
    src: url('../fonts/opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bolditalic.woff2') format('woff2'),
         url('../fonts/opensans-bolditalic.woff') format('woff'),
         url('../fonts/opensans-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold.eot');
    src: url('../fonts/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold.woff2') format('woff2'),
         url('../fonts/opensans-extrabold.woff') format('woff'),
         url('../fonts/opensans-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/opensans-extrabolditalic.eot');
    src: url('../fonts/opensans-extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabolditalic.woff2') format('woff2'),
         url('../fonts/opensans-extrabolditalic.woff') format('woff'),
         url('../fonts/pensans-extrabolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic.eot');
    src: url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic.woff2') format('woff2'),
         url('../fonts/opensans-italic.woff') format('woff'),
         url('../fonts/opensans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light.eot');
    src: url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light.woff2') format('woff2'),
         url('../fonts/opensans-light.woff') format('woff'),
         url('../fonts/opensans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/opensans-lightitalic.eot');
    src: url('../fonts/opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-lightitalic.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic.woff') format('woff'),
         url('../fonts/opensans-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff2') format('woff2'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/opensans-semibolditalic.eot');
    src: url('../fonts/opensans-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibolditalic.woff2') format('woff2'),
         url('../fonts/opensans-semibolditalic.woff') format('woff'),
         url('../fonts/opensans-semibolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    
    background: url(../images/bg.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: open_sansregular, sans-serif;
    font-size: 14px;
    color: $maincol;
}

.no-bgsizecover body {
    background: #f6e6aa;
}

a {
    text-decoration: none;
    color: $maincol;
}

a:hover, a:focus, a:visited, input:focus, textarea:focus {
    outline: none;
    color: $maincol;
}

em {
    font-family: open_sansitalic, sans-serif;
}

strong, b {
    font-family: open_sanssemibold, sans-serif;
}

p {
    margin: 0 0 5px 0;
}

html, body {
    height: 100%;
    margin: 0;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -60px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 60px; 
}

.container {
    width: $container;
    margin: 0 auto;
}

.sitewidth {
    width: $sitewidth;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}

.clearfix:after {
    clear: both;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

i {
    display: block;
}

// HEADER

header {
    background: url(../images/header_02.png) 0 0 repeat-x;
    width: 100%;
    min-width: 960px;

    &:after {
        content: '';
        display: block;
        width: 100%;
        min-width: 960px;
        height: 7px;
        background-color: #fff;
        box-shadow: 0 1px rgba(0,0,0,.1);
    }

// SOCIAL LINKS

    .socblock {
    float: right;
    text-align: right;
    margin-top: 25px;
    font-size: 0px;

    .social-item {
        display: inline-block;

        &-link {
            margin-left: 13px;
            display: block;
        }

        &-icon {
            display: block;
        }
    }

    }
}

.logo {
    display: inline-block;
    margin: 10px 0 5px 10px;
    float: left;
}

.main {
    padding-top: 35px;
}

//LEFT MENU

.sidebar {
    width: 250px;
    float: left;
}  

.no-lastchild .menu {
    border-bottom: solid 1px #c3c2c2;
    background: #fff;
}

.menu-item {
    background-image: linear-gradient(to top, #e9e6e5, #fbf9f9 94%, #fff);
    border-top: solid 1px #c3c2c2;
    border-left: solid 1px #c3c2c2;
    border-right: solid 1px #c3c2c2;

    &:first-child {
        border-radius: 3px 3px 0 0;
    }

    &:last-child {
        border-radius: 0 0 3px 3px;
        box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
        border-bottom: solid 1px #c3c2c2;
    }

    &:hover {
        background: #bfbfbf;
        box-shadow: inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px rgba(202,202,202,.61);
        background: linear-gradient(to top, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
    }

}

.active, .active:hover, .menu-item:focus {
    background: #7ee8ce;
    box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
    border-left: 1px solid  #41ac91;
    border-right: 1px solid  #41ac91;
    border-bottom: 1px solid  #41ac91;
    border-top: 1px solid #66dbbe;
    background: linear-gradient(to top, #3eb799, #7ee8ce);
    color: $activetextcolor;
    text-shadow: 0 1px rgba(255,255,255,.35);
    padding: 13px 30px;
    font-size: 20px;
    font-family: 'open_sanssemibold';

    &:last-child {
        box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
        border-bottom: solid 1px #c3c2c2;
    }
}

.menu-item a {
    display: block;
    font-size: 20px;
    font-family: 'open_sanssemibold';
    text-shadow: 0 1px rgba(255,255,255,.75);
    padding: 13px 30px;
}

//CONTACTS BLOCK

.contacts {

    margin-top: 40px;
    
    
    ul {
        background: #fff;
        border-radius: 0 0 5px 5px;
    }

    &-head {
        padding: 8px 30px;
        border-radius: 5px 5px 0 0;
        background: #e6bc6b;
        background: linear-gradient(to top, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
        border-top: 1px solid #f4cc7e;
        border-left: 1px solid  #dcb15d;
        border-right: 1px solid  #dcb15d;
        border-bottom: 1px solid  #dcb15d;
        font-size: 20px;
        color: #d0982c;
        text-shadow: 0 1px rgba(255, 255, 255, 0.4), 0 -1px rgba(117, 92, 38, 0.6);
        font-family: 'open_sanssemibold';
    }

    &-item {
        font-size: 14px;
        padding-left: 70px;
        background: #fff;
        box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
        border-bottom: solid 1px #d6d5d3;
        border-left: solid 1px #d6d5d3;
        border-right: solid 1px #d6d5d3;
        position: relative;
        height: 38px;
        line-height: 38px;

        a {
            text-decoration: underline;
        }

        &:before {
            content: "";
            background-image: url(../images/sprite.png);
            background-position: -159px -101px;
            width: 10px;
            height: 38px;
            position: absolute;
            left: 50px;
            top: 0;
        }

        &:last-child {
            border-radius: 0 0 5px 5px;
        }

        &:hover {
            background: #f9f4ea;
            box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
            background-image: linear-gradient(to top, rgba(224,197,145,.45), rgba(251,249,249,0));
        }
        
    }

    .icon {
        position: absolute;
        left: 20px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        
    }

}

// MAIN

.page-content {
    width: 650px;
    float: right;
}

.infoblock {
    background: #fff;
    background: linear-gradient(to top, #f0efee, #f7f6f5);
    border: solid 1px #c3c2c2;
    border-radius: 4px 4px 4px 5px/4px 4px 3px 5px;
    margin-bottom: 36px;

    .head {
        height: 54px;
        background: #727070;
        background: linear-gradient(to top, #7b7878, #a9a8a8);
        padding: 0 42px;
        line-height: 54px;
        font-size: 24px;
        color: #eeedec;
        text-shadow: 0 1px #666565;
        font-family: 'open_sanssemibold';
        margin: 0;
    }

    &-left {
        width: 230px;
        float: left;
        margin: 48px 0;

        &-img {
            width: 142px;
            height: 142px;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 50% 50%;
            border: solid 1px #c3c2c2;
            position: relative;
            box-shadow: 
            0px 0px 0px 9px #f0efee,
            0px 0px 0px 10px #c3c2c2;


            .upic {
                width: 100%;
            }
        }

        }

    &-right {
        float: left;
        margin: 35px 0;

        p:first-child {
            margin-top: 0;
        }

        &-sk {
            margin-top: 22px;
        }
    }

    &-skills {
        float: right;
        width: 270px;
        padding-left: 20px;

        &-item {
            float: left;
            font-size: 12px;
            color: #1e7465;
            text-shadow: 0 1px rgba(255,255,255,.45);
            font-family: 'open_sanssemibold';
            text-transform: uppercase;
            position: relative;
            display: inline-block;
            padding: 0 6px;
            height: 18px;
            line-height: 18px;
            box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
            border-top: solid 1px #c3c2c2;
            border-bottom: solid 1px #c3c2c2;
            border-right: solid 1px #c3c2c2;
            border-radius: 0 6px 6px 0;
            margin-right: 20px;
            margin-bottom: 9px;


            &:before {
                content: "";
                position: absolute;
                left:-13px;
                top: -5px;
                background-image: url(../images/sprite.png);
                background-position: 0px -150px;
                width: 13px;
                height: 25px;
                }
        }
    }

    &-inner {
        padding: 10px 40px;


        &-item {
            

            &-inner {
                padding: 30px 0 20px 95px;
            }

            p {
                margin-bottom: 5px;
            }

            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                box-shadow: 0 0 3px rgba(251,251,251,.75), inset 0 1px 1px rgba(128,128,128,.29);
                border-radius: 0 0 1px;
                background-color: #f6f5f4;
                
            }

            &:last-child:after {
                height: 0px;
                
            }
        }

        .briefcase {
            background: url('../images/briefcase.png') 0 center no-repeat;
        }

        .school {
            background: url('../images/school.png') 0 center no-repeat;
        }

        .graduate {
            background: url('../images/graduate.png') 0 center no-repeat;
        }

        .file {
            background: url('../images/file.png') 0 center no-repeat;
        }
    }

}

// PORTFOLIO

.works {
    margin: 35px 0;

    &-row {
        margin-bottom: 35px;
    }

    &-item {
        width: 168px;
        float: left;
        border-radius: 5px;
        border: solid 1px #b6b6b6;
        box-shadow: 0 2px 1px rgba(9,9,9,.07);
        position: relative;
        z-index: 0;
        margin-left: 32px;

        &:first-child {
            margin-left: 0;
        }

        &-img {
            border-bottom: solid 1px #b6b6b6;
            border-radius: 5px 5px 0 0;
            display: block;
            position: relative;
            background: url(../images/pic.png) 0 0 repeat;

            &:hover {
                background: transparent;
            }

        
            img {
                width: 100%;
                display: block;
                position: relative;
                border-radius: 5px 5px 0 0;
                z-index: -1;
            }
        }

        &-name {
            background: #f2f2f2;
            padding: 12px 0;
            text-align: center;
            font-size: 14px;
            font-family: 'open_sanssemibold';
            display: block;
        }

        &-desc {
            margin: 10px 0;
            text-align: center;
            font-family: 'open_sanslight';
        }

        &-add {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-top: 90px;
            font-family: 'open_sanssemibold';
            text-shadow: 0 1px rgba(255,255,255,.75);
            height: 132px;

            &:hover {
                background: url(../images/polaroid_h.png) -2px -2px no-repeat;
                box-shadow: none;
            }
            
        }

        &-icon {
            width: 53px;
            height: 55px;
            background: url(../images/polaroid.png) 0 0 no-repeat;
            margin: 24px auto 0 auto;
            position: absolute;
            left: 0;
            right: 0;
        }
    }

    .add {
        width: 164px;
        height: 132px;
        background: #fbf9f9;
        background: linear-gradient(to top, #edebea, #fbf9f9 94%, #fff);
        box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
        text-align: center;
    }
}

// CONTACTS FORM

.form {
    width: 400px;
    margin: 35px auto;

    &-half {
        width: 190px;
        float: left;


        &-right {
            float: right;
        }
    }



    &-label {
        font-family: 'open_sanssemibold';
    }

    &-input {
        height: 41px;
        width: 100%;
        line-height: 41px;
        border-radius: 2px/4px;
        background: #fbfcfd;
        box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
        border: solid 1px #d6d5d3;
        background: linear-gradient(to top, rgba(233,231,231,.45), rgba(251,249,249,0));
        font-family: 'open_sanslight';
        font-size: 12px;
        padding: 0 10px;
        display: block;
        margin-bottom: 20px;
    }

    &-txtar {
        height: 180px;
    }

        &-submit {
            display: block;
            width: 121px;
            height: 37px;
            margin: 30px auto;
            border-radius: 5px;
            background: #80e8cb;
            background: linear-gradient(to top, #43b796, #80e8cb);
            border: solid 1px #c3c2c2;
            box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
            color: #1e7465;
            text-shadow: 0 1px rgba(255,255,255,.55);
            font-family: 'open_sanssemibold';

            &:hover {
                box-shadow: inset 0 1px rgba(255,255,255,.3);
                background: #5fdcbd;
                background: linear-gradient(to top, #3aa087, #5fdcbd);
            }
        }

        &-reset {
            display: block;
            width: 121px;
            height: 37px;
            margin: 30px auto;
            border-radius: 5px;
            background: #fbf9f9;
            background: linear-gradient(to top, #e9e6e4, #fbf9f9 94%, #fff);
            border: solid 1px #c3c2c2;
            box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
            color: #727070;
            text-shadow: 0 1px rgba(255,255,255,.55);
            font-family: 'open_sanssemibold';

            &:hover {
                box-shadow: inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px rgba(202,202,202,.61);
                background: #e3e1e1;
                background: linear-gradient(to top, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
            }
        }


    
}

// FOOTER

.footer {
    position: relative;
    text-align: center;
    background: #fff;

    .icon {
        display: block;
        float: left;
        margin-right: 5px;
        width: 23px;
    }

    &-login {
        position: absolute;
        margin-left: 165px;
        text-align: left;
        font-family: 'open_sansbold';
        font-size: 12px;
        line-height: 21px;
    }
    

    &-inner {
        position: relative;

        &-p {
            margin: 20px 0;
            font-family: 'open_sanslight';
            font-size: 12px;
        }
    }
}